@layer tailwind-base {
	@tailwind base;
}

@layer tailwind-utilities {
	@tailwind utilities;
	@tailwind variants;
}

@layer base {
	@font-face {
		font-family: "MarckScript";
		src: url("/assets/fonts/MarckScript-Regular.ttf") format("truetype");
	}
	@font-face {
		font-family: "Pacifico";
		src: url("/assets/fonts/Pacifico-Regular.ttf") format("truetype");
	}
	@font-face {
		font-family: "Neue-bold";
		src: url("/assets/fonts/NeueHaasUnicaW1G-Bold1.eot");
		src: url("/assets/fonts/NeueHaasUnicaW1G-Bold1.eot?#iefix")
				format("embedded-opentype"),
			url("/assets/fonts/NeueHaasUnicaW1G-Bold1.woff2") format("woff2"),
			url("/assets/fonts/NeueHaasUnicaW1G-Bold1.woff") format("woff"),
			url("/assets/fonts/NeueHaasUnicaW1G-Bold1.ttf") format("truetype"),
			url("/assets/fonts/NeueHaasUnicaW1G-Bold1.svg#Neue Haas Unica W1G")
				format("svg");
	}
	@font-face {
		font-family: "Neue Haas Unica W1G";
		src: url("/assets/fonts/NeueHaasUnicaW1G-Regular.eot");
		src: url("/assets/fonts/NeueHaasUnicaW1G-Regular.eot?#iefix")
				format("embedded-opentype"),
			url("/assets/fonts/NeueHaasUnicaW1G-Regular.woff2") format("woff2"),
			url("/assets/fonts/NeueHaasUnicaW1G-Regular.woff") format("woff"),
			url("/assets/fonts/NeueHaasUnicaW1G-Regular.ttf") format("truetype"),
			url("/assets/fonts/NeueHaasUnicaW1G-Regular.svg#NeueHaasUnicaW1G-Regular")
				format("svg");
	}
	@font-face {
		font-family: "Neue-regular-cyrillic";
		src: url("/assets/fonts/NeueHaasUnicaW1G-Regular.eot");
		src: url("/assets/fonts/NeueHaasUnicaW1G-Regular.eot?#iefix")
				format("embedded-opentype"),
			url("/assets/fonts/NeueHaasUnicaW1G-Regular.woff2") format("woff2"),
			url("/assets/fonts/NeueHaasUnicaW1G-Regular.woff") format("woff"),
			url("/assets/fonts/NeueHaasUnicaW1G-Regular.ttf") format("truetype"),
			url("/assets/fonts/NeueHaasUnicaW1G-Regular.svg#Neue Haas Unica W1G")
				format("svg");
	}
	@font-face {
		font-family: "Neue-bold-cyrillic";
		src: url("/assets/fonts/NeueHaasUnicaW1G-Bold.eot");
		src: url("/assets/fonts/NeueHaasUnicaW1G-Bold.eot?#iefix")
				format("embedded-opentype"),
			url("/assets/fonts/NeueHaasUnicaW1G-Bold.woff2") format("woff2"),
			url("/assets/fonts/NeueHaasUnicaW1G-Bold.woff") format("woff"),
			url("/assets/fonts/NeueHaasUnicaW1G-Bold.ttf") format("truetype"),
			url("/assets/fonts/NeueHaasUnicaW1G-Bold.svg#Neue Haas Unica W1G")
				format("svg");
	}

	html {
		scroll-behavior: smooth;
	}

	h1 {
		@apply font-bold;
	}
}
.bg-stoneBg {
	background-image: url(/assets/img/stone.jpeg);
}
.bg-footer {
	background-image: url(/assets/img/footer.jpg);
}

.hero-header {
	background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
		url(/assets/img/bg-hero1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
